:{$PORT}

encode gzip

# Health check endpoint
handle /ping {
	respond "pong" 200
}

@backend_routes path /_event/* /_upload /_upload/*
handle @backend_routes {
	reverse_proxy localhost:8000
}

root * /srv
route {
	try_files {path} {path}/ /404.html
	file_server
}
